<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koreanika Portal</title>
    <link rel="shortcut icon" href="images/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="css/main_style.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/header.css">
    <script src="https://kit.fontawesome.com/ac37b1b49c.js" crossorigin="anonymous"></script>

    <script src="js/constants.js"></script>
    <script src="js/checkAuth.js"></script>

</head>
<body>

    <div class="menu_container">
        <div class="menu_container_inner">
            <div class="menu_container_content">
                <div class="menu_user_info">
                    <img src="images/user_no_logo.png" alt="">
                    <div class="menu_user_info_2">
                        <p class="user_name">USER NAME SURNAME</p>
                        <p class="user_info" hidden>COMPANY/ROLE(ADMIN)</p>
                        <a class="user_logout" onclick="logout()" href="/login">logout</a>
                    </div>
                </div>

                <div class="menu_items">
                    <ul>
                        <li><a class="menu_link highlight" href="/dashboard">Информация</a></li>
                        <li><a class="menu_link" href="/usersList">Пользователи</a></li>
                        <li><a class="menu_link" href="/statistics">Статистика</a></li>
                        <li><a class="menu_link" href="/appUpdates">Обновления</a></li>
                        <li><a class="menu_link" href="/pricesUpdates">Цены</a></li>
                        <li><a class="menu_link" href="#">Новости</a></li>
                        <li><a class="menu_link" href="/profile">Профиль</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>

    <h2 class="header">Информация</h2>

    <div class="system_info_container_external">
        <div class="system_info_container">
            <div class="system_info_element">
                <p class="info_header"> О системе</p>
                <div class="sys_start_date">
                    <p>Дата запуска:</p>
                    <p>ДАТА</p>
                </div>
                <div class="sys_work_time">
                    <p>Время работы сервера:</p>
                    <p>ДАТА</p>
                </div>
                <div class="sys_memory">
                    <p>Память:</p>
                    <p>ДВСЕГО/ИСП</p>
                </div>

            </div>

            <div class="users_info_element">
                <p class="info_header"> О пользователях</p>
                <div class="users_all">
                    <p>Всего :</p>
                    <p>КОЛИЧЕСТВО</p>
                </div>
                <div class="users_online">
                    <p>Онлайн:</p>
                    <p>КОЛИЧЕСТВО</p>
                </div>
                <div class="users_offline">
                    <p>Оффлайн:</p>
                    <p>КОЛИЧЕСТВО</p>
                </div>
            </div>


        </div>
    </div>

    <div class="container">
        <div class="container_mid">
            <div class="events">
                <div class="table_caption"><h4>События портала</h4></div>

                <div class="table_container">
                    <table>

                        <colgroup>
                            <col style="width:20%">
                            <col style="width:20%">
                            <col style="width:20%">
                            <col style="width:40%">

                        </colgroup>

                        <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Пользователь</th>
                                <th>Операция</th>
                                <th>Дополнительно</th>
                            </tr>
                        </thead>

                        <tbody>

                        <tr>
                            <td>дата</td>
                            <td>user</td>
                            <td>operation</td>
                            <td>additional info</td>
                        </tr>


                        </tbody>

                    </table>
                </div>


            </div>
        </div>
    </div>

    <script src="js/dashboard.js"></script>
</body>
</html>