<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ForgotPW</title>
    <link rel="shortcut icon" href="images/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="css/main_style.css">
    <link rel="stylesheet" href="css/restorePass.css">

    <script src="js/constants.js"></script>
</head>
<body>

    <div class="container">
        <div class="form_block">

            <div class="logo"></div>

            <p class="form_block_header">Восстановление пароля</p>

            <form class="formEmail">
                <div class="center">
                    <div class="form_auth_login_block">
                        <p>Введите email:</p>
                        <input class="textfield" type="email" name="email" placeholder="Введите email" required>
                    </div>
                </div>

                <input id="btn_submit" class="form_auth_button" type="submit" name="form_auth_submit" value="Отправить">

            </form>

        </div>
    </div>

    <script src="js/forgotPassword.js"></script>

</body>
</html>