<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koreanika auth</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon-32x32.png">
    <link rel="stylesheet" href="/css/main_style.css">
    <link rel="stylesheet" href="/css/auth_style.css">
    <script src="https://kit.fontawesome.com/ac37b1b49c.js" crossorigin="anonymous"></script>
</head>
<body>



<div class="auth_container">
    <div class="form_auth_block">
        <div class="form_auth_block_content">
            <p class="form_auth_block_logo">Koreanika</p>
            <p class="form_auth_block_header">Авторизация</p>
            <form id="auth_form" class="form_auth_style" method="post">
                <div class="form_auth_login_block">
                    <div class="auth_icon_block"><i class="fa-solid fa-user"></i></div>
                    <input class="textfield" type="text" name="auth_login" placeholder="Логин или email" required>
                </div>

                <div class="form_auth_password_block">
                    <div class="auth_icon_block"><i class="fa-solid fa-lock"></i></div>
                    <input class="textfield" type="password" name="auth_password" placeholder="Введите пароль" required>
                </div>

                <div class="fogot_link"><a href="#"> Забыли пароль?</a></div>

                <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
            </form>
            <div class="fogot_link"><a href="/registration"> Еще не зарегистрированы?</a></div>

        </div>
    </div>
</div>

<script>

    let loginInput = document.querySelector('form input[name="auth_login"]')
    let passwordInput = document.querySelector('form input[name="auth_password"]')

    auth_form.addEventListener("submit", (e)=>{
        e.preventDefault();

        let login = loginInput.value
        let password = passwordInput.value
        auth(login, password)
    })

    async function auth(login, password){

        let loginData = {
            "login": login,
            "password":password
        }
         let response = await fetch('/api/auth', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(loginData)
        });
        console.log(response)
        //if(!response.ok) return;

        if(response.headers.get('Content-Type') == 'application/json'){
            let content = await response.json()
            let token = content['token']
            console.log(content)
            console.log(content['jwt-token'])
            console.log(`login = ${login} password = ${password}`)

            localStorage.setItem('jwt-token', token)

            console.log(`jwt-token from localStorage = ${localStorage.getItem('jwt-token')}`)

            window.location.replace('/')
        }



    }


</script>

</body>
</html>