<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link rel="shortcut icon" href="images/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="css/main_style.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/statistics.css">

    <script src="js/constants.js"></script>
    <script src="js/checkAuth.js"></script>
</head>
<body>

    <div class="menu_container">
        <div class="menu_container_inner">
            <div class="menu_container_content">
                <div class="menu_user_info">
                    <img src="images/user_no_logo.png" alt="">
                    <div class="menu_user_info_2">
                        <p class="user_name">USER NAME SURNAME</p>
                        <p class="user_info" hidden>COMPANY/ROLE(ADMIN)</p>
                        <a class="user_logout" onclick="logout()" href="/login">logout</a>
                    </div>
                </div>

                <div class="menu_items">
                    <ul>
                        <li><a class="menu_link" href="/dashboard">Информация</a></li>
                        <li><a class="menu_link" href="/usersList">Пользователи</a></li>
                        <li><a class="menu_link highlight" href="/statistics">Статистика</a></li>
                        <li><a class="menu_link" href="/appUpdates">Обновления</a></li>
                        <li><a class="menu_link" href="/pricesUpdates">Цены</a></li>
                        <li><a class="menu_link" href="#">Новости</a></li>
                        <li><a class="menu_link" href="/profile">Профиль</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>

    <h2 class="header">Статистика</h2>





    <div class="container">
        <div class="container_inner">

            <div class="filter_onoff">
                <div>
                    <input id="filter_use" type="checkbox"/>
                    <span>Использовать фильтр</span>
                </div>
                <div>
                    <input type="button" value="Download .xls " onclick="downloadStatisticsAsXls()"/>
                </div>
            </div>

            <div class="container_filter">
                <div class="filter">
                    <div class="filter_column1">
                        <div class="filter_row">
                            <input id="date_use" type="checkbox"/>
                            <span >Дата</span>
                            <input id="date_from" type="date"/>
                            <span class="sdd">-</span>
                            <input id="date_to" type="date"/>

                        </div>
                        <div class="filter_row">
                            <input id="material_use" type="checkbox"/>
                            <span>Камень</span>
                            <input id="materials" type="text"/>

                        </div>
                        <div class="filter_row">
                            <input id="shop_use" type="checkbox"/>
                            <span>Салон</span>
                            <input id="shop" type="text"/>

                        </div>
                        <div class="filter_row">
                            <input id="certain_address_use" type="checkbox"/>
                            <span>Магазин</span>
                            <input id="certainAddress" type="text"/>

                        </div>
                    </div>
                    <div class="filter_column2">
                        <div class="filter_row">
                            <input id="material_price_use" type="checkbox"/>
                            <span>Цена материала</span>
                            <span>от</span>
                            <input id="materialPriceFrom" type="text" oninput="filterNumberFieldValidation()"/>
                            <span>до</span>
                            <input id="materialPriceTo" type="text" oninput="filterNumberFieldValidation()"/>
                            <span>руб.</span>

                        </div>
                        <div class="filter_row">
                            <input id="add_price_use" type="checkbox"/>
                            <span>Цена доп. работ</span>
                            <span>от</span>
                            <input id="addPriceFrom" type="text"/>
                            <span>до</span>
                            <input id="addPriceTo" type="text"/>
                            <span>руб.</span>

                        </div>
                        <div class="filter_row">
                            <input id="all_use" type="checkbox"/>
                            <span>Цена общая</span>
                            <span>от</span>
                            <input id="allPriceFrom" type="text"/>
                            <span>до</span>
                            <input id="allPriceTo" type="text"/>
                            <span>руб.</span>

                        </div>
                    </div>


                </div>

            </div>

            <div class="updateBtnContainer"><input id="updateButton" type="button" value="Обновить" onclick="updateTableView()"></div>

            <div class="table_container">

                <table>

                    <colgroup>
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:6%">
                        <col style="width:10%">
                        <col style="width:30%">
                        <col style="width:2%">
                        <col style="width:2%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:10%">
                    </colgroup>

                    <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Салон</th>
                            <th>Пользователь</th>
                            <th>Тип события</th>
                            <th>Материал (тип-коллекция-цвет)</th>
                            <th>Кол-во слэбов</th>
                            <th>Площадь изделия (м2)</th>
                            <th>Цена материала (₽)</th>
                            <th>Цена доп. работ (₽)</th>
                            <th>Цена счета (₽)</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Date</td>
                            <td>Салон</td>
                            <td>Пользователь</td>
                            <td>Тип события</td>
                            <td>Материал</td>
                            <td>Кол-во слэбов</td>
                            <td>Площадь изделия </td>
                            <td>Цена материала</td>
                            <td>Сумма доп. работ</td>
                            <td>Сумма счета</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <script src="js/statistics.js"></script>

</body>
</html>