*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

:root {
    --color-primary: #505F56;
  }